betamax
betamax_serializers
bump2version
click
coverage
email_validator
enum34
# https://github.com/PyCQA/pycodestyle/issues/728
-e git+https://gitlab.com/pycqa/flake8@9631dac5#egg=flake8
hypothesis
mock
pytest
pytest-html
pytest-runner
pytest-xdist
requests
requests-mock
six
tox
pyyaml
markdown
deprecation
wheel
twine
