betamax
betamax_serializers
bump2version
click
coverage
email_validator
enum34
flake8
hypothesis
mock
pytest
pytest-html
pytest-runner
pytest-xdist
requests
requests-mock
six
tox
pyyaml
markdown
deprecation
wheel
twine
