--index-url ***REMOVED***
--trusted-host ***REMOVED***
pip
bumpversion
wheel
watchdog
flake8
tox
coverage
Sphinx
pytest
pytest-runner
pytest-html
six
requests
hypothesis
requests-mock
enum34
betamax
betamax_serializers
click
mock
pytest-xdist
email_validator
